
.form-wrapper{
    width: 100%;
    /* max-width: 330px; */
    height: 100%;
    padding: 25px;
    padding-top: 60px;
    margin: auto;
    border: 1px solid black;
    background-image: url("http://papers.co/wallpaper/papers.co-vl62-blue-green-polygon-art-abstract-pattern-36-3840x2400-4k-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

