.finance-container{
    display: flex;
    width: 100%;
    float: center;
}

.income-container{
    display: grid;
    width: 50%;
    left: 10%;
    border: 1px solid black;
}
.expense-container{
    display: grid;
    width: 50%;
    right: 20%;
    border: 1px solid black;
}

.total-container{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    height: 20%;
    
}
.total-income{
    width: 50%;
    border: 1px solid black;
    margin: 3%;
    
    display: grid;
}
 
.total-expense{
    width: 50%;
    border: 1px solid black;
    margin: 3%;
    
    display: grid
}

